@import 'tailwindcss';

@theme {
	--color-brand-500: green;
	--color-brand-600: red;
	--color-brand-700: blue;
}

/* Configure dark mode to use class-based toggling */
@variant dark (&:where(.dark, .dark *));